#process {
  min-width: 300px;
  max-width: 500px;
  margin: 20px;
}

#process-heading span {
  color: var(--accent);
  font-weight: bold;
}

#process h2 {
  color: var(--accent);
}
#process ul li {
  text-decoration-color: var(--hightlight);
}

#process div {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px dashed var(--highlight);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: var(--dark-text);
}
/* //numbers */
#process div::before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: var(--highlight);
  text-align: center;
  line-height: 1.25em;
  color: var(--bg);
  font-weight: bold;
  font-size: 1em;
}
/* //odd number borders */
#process div:nth-child(odd) {
  border-right: 3px dashed var(--highlight);
  padding-left: 0;
}
#process div:nth-child(odd)::before {
  left: 100%;
  margin-left: -20px;
}
/* //even number borders */
#process div:nth-child(even) {
  border-left: 3px dashed var(--highlight);
  padding-right: 0;
}
#process div:nth-child(even)::before {
  right: 100%;
  margin-right: -20px;
}

/* //handle first and last */
#process div:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#process div:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#process h2 {
  margin-top: 5px;
}
