:root {
  --dark-text: #0b2641;
  --bg: #ffffff;
  --accent: #293274;
  --highlight: #dea164;
}
html {
  margin: 0px;
  width: 100vw;
}
body {
  margin: 0px;
  font-family: Montserrat;
  background-color: var(--bg);
}

h1 {
  color: var(--accent);
  text-transform: capitalize;
  font-weight: normal;
}
h1 span {
  font-weight: bold;
}
h2 {
  text-transform: capitalize;
}
p {
  line-height: 1.5;
}

ul {
  list-style: none;
  line-height: 1.5;
}

ul li::before {
  content: "\2022";
  color: var(--highlight);
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#space-travel {
  background-image: url(../asset/space-travel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
article {
  display: flex;
  flex-direction: column;
}

.persona header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.persona h3 {
  margin: 0 15px 0;
  color: var(--accent);
}

.persona-image {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.name-and-quote {
  background-color: var(--accent);
  color: var(--bg);
  width: 100vw;
  margin: 0 15px 15px 0;
}
.name-and-quote h2 {
  font-weight: normal;
  padding: 0 15px 0;
}
.name-and-quote h2 span {
  font-weight: bold;
}
.name-and-quote p {
  padding-left: 15px;
  padding-left: 15px;
}

.persona-quote q {
  quotes: "\201C", "\201D";
  padding: 0 15px 0;
}

q::before {
  content: open-quote;
  font-weight: bold;
  font-size: 24px;
  color: var(--highlight);
}
q::after {
  content: close-quote;
  font-weight: bold;
  font-size: 24px;
  color: var(--highlight);
}
.about-persona {
  display: grid;
  grid-template-columns: 30px auto;
  margin: 15px 15px 15px;
  column-gap: 10px;
  row-gap: 10px;
  color: var(--dark-text);
}
.about-persona p {
  margin: 0;
}

.icon {
  height: 25px;
  width: 25px;
  justify-self: center;
}
#freedom-frank {
  background-image: url(../asset/freedom-frank.png);
}
#astronaut-allen {
  background-image: url(../asset/astronaut-allen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#trendy-tracey {
  background-image: url(../asset/trendy-tracey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#about {
  margin: 0px 10px 0px;
}
#about p {
  line-height: 1.5;
}
#goals {
  padding: 10px 10px 10px;
  background-color: var(--accent);
  color: var(--bg);
}
#goals h1 {
  color: var(--bg);
}
#goals h1 span {
  color: var(--highlight);
}
.age {
  height: 15px;
  width: 15px;
}
.location {
  height: 15px;
  width: 15px;
}
.white-bg-header-1 {
  color: var(--accent);
  margin: 10px;
}
.highlight-bg-header-1 {
  background-color: var(--highlight);
  color: var(--bg);
  margin: 0;
  padding: 20px 10px 20px;
}
.accent-bg-header-1 {
  background-color: var(--accent);
  color: var(--bg);
  margin: 0;
  padding: 20px 10px 20px;
}
