:root {
  --dark-text: #0b2641;
  --bg: #ffffff;
  --accent: #3879c1;
  --highlight: #a6c0d7;
}
html {
  margin: 0px;
}
body {
  margin: 0px;
  font-family: Montserrat;
  background-color: var(--bg);
}

h1 {
  color: var(--dark-text);
}
#moon_over_earth {
  background-image: url(./asset/space-travel.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
