:root {
  --dark-text: #0b2641;
  --bg: #a6c0d7;
}
html {
  margin: 0px;
}
body {
  margin: 0px;
  font-family: Montserrat;
  background-color: var(--bg);
}

h1 {
  color: var(--dark-text);
}
#moon_over_earth {
  background-image: url(./asset/moon_over_earth.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#moon_over_earth h1 {
  font-weight: lighter;
  text-transform: capitalize;
}
